*{
    box-sizing: border-box;
    margin: 0;
}


/*--------------------------Grid-area------------------------*/
body {
    display: grid;
    grid-template-columns: 5fr;
    grid-template-rows: 120px 1fr 120px;
    grid-template-areas:
        "header header header header header"
        "main main main main main"
        "footer footer footer footer footer";
}
 
header {
    grid-area: header;
    background-color: #3E7184;
}
 
main {
    grid-area: main;
    background-color: #EBE3DA;
}
 
footer {
    grid-area: footer;
    background-color: #3E7184;
}


/*---------------------Header & Navigation-------------------------*/

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 100px;
    padding-left: 1em;
}

header nav{
    display: none;
}

#bars{
    font-size: 50px;
    background-color: transparent;
    border: none;
    color: #EBE3DA;
}

.show{
    display: block;
    position: absolute;
    top: 120px;
    left: 0; 
    background-color: #E16D5E;
    width: 100%;
}

.menu{
    list-style: none;
    padding: 1em;
    padding-left: 2em;
}

.menu li a{
    font-family: 'League Spartan';
    font-size: 32px;
    text-decoration: none;
    color: black;
}

/*------------------------Footer----------------------------------*/

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
    padding: 2em 2em;
}

.instagram{
    width: 90px;
    background-color: transparent;
}

.tiktok{
    width: 90px;
    left: 20px;
    background-color: transparent;
}

.links{
    list-style-type: none;
    justify-content: right;
    background-color: transparent;
}
/*------------------------Forside indhold-------------------------*/

.hero-billede{
    width: 100%;
}

.brødtekst{
    font-family: 'League Spartan';
    padding: 2em 2em;
    line-height: 1.8em;
}

.fællesskab{
    width: 100%;
}

h1{
    font-family: 'Albert Sans', cursive;
    text-align: center;
    padding: 0.3em 2em;
}


/*-------------------------------Underside "Gode råd"--------------------------------*/

.undersidebillede{
    width: 100%;
}

.spørgsmål{
    font-family: 'Albert Sans', cursive;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.goderåd{
    font-family: 'League Spartan';
    text-align: center;
    padding: 1em 1.5em;
    line-height: 1.8em;
}

.råd{
    font-family: 'League Spartan';
    line-height: 1.8em;
    margin-left: 2em;
    margin-right: 2em;
}

.highlight{
    font-weight: bold;
}