*{
    box-sizing: border-box;
    margin: 0;
}


/*--------------------------Grid-area------------------------*/
body {
    display: grid;
    grid-template-columns: 5fr;
    grid-template-rows: 120px 1fr 120px;
    grid-template-areas:
        "header header header header header"
        "main main main main main"
        "footer footer footer footer footer";
}
 
header {
    grid-area: header;
    background-color: #3E7184;
}
 
main {
    grid-area: main;
    background-color: #EBE3DA;
}
 
footer {
    grid-area: footer;
    background-color: #3E7184;
}


/*---------------------Header & Navigation-------------------------*/

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 100px;
    padding-left: 1em;
}

.loop{
    border-radius: 2em;
}

.fa-magnifying-glass{
    font-size: 30px;
    padding-left: 0.4em;
}

header nav{
    display: none;
}

#bars{
    font-size: 50px;
    background-color: transparent;
    border: none;
    color: #EBE3DA;
}

.show{
    display: block;
    position: absolute;
    top: 120px;
    left: 0; 
    background-color: #E16D5E;
    width: 100%;
}

.menu{
    list-style: none;
    padding: 1em;
    padding-left: 2em;
}

.menu li a{
    font-family: 'League Spartan';
    font-size: 32px;
    text-decoration: none;
    color: black;
    line-height: 1.8em;
}

/*------------------------Footer----------------------------------*/

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
    padding: 2em 2em;
}

.instagram{
    width: 90px;
    background-color: transparent;
}

.tiktok{
    width: 90px;
    left: 20px;
    background-color: transparent;
}

.links{
    list-style-type: none;
    justify-content: right;
    background-color: transparent;
}

footer a{
    color: white;
    line-height: 1.7em;
}
/*------------------------Forside indhold-------------------------*/

.hero-billede{
    width: 100%;
    padding-bottom: 2em;
}

.brødtekst{
    font-family: 'League Spartan';
    padding: 1em 2em;
    line-height: 1.8em;
}

.fællesskab{
    width: 100%;
}

h1{
    font-family: 'Albert Sans', cursive;
    text-align: center;
    padding: 0.3em 2em;
}

.happy{
    width: 100%;
}

/*-------------------------------Underside "Gode råd"--------------------------------*/

.undersidebillede{
    width: 100%;
}

.spørgsmål{
    font-family: 'Albert Sans', cursive;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.goderåd{
    font-family: 'League Spartan';
    text-align: center;
    padding: 1em 1.5em;
    line-height: 1.8em;
}

.råd{
    font-family: 'League Spartan';
    line-height: 1.8em;
    margin-left: 2em;
    margin-right: 2em;
}

.highlight{
    font-weight: bold;
}

/*---------------------------Underside "Hvad er mental sundhed?"------------------*/

.healthcare{
    width: 100%;
    padding-bottom: 3em;
}


/*----------------------------Underside "Kontakt os"-------------------------------*/

h2{
    font-family: 'Albert Sans', cursive;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
}

/*------------kontaktform-----------------*/

.kontaktform {
  border-radius: 5px;
  background-color: #c5c5c5;
  padding: 1.3em;
  width: 65%;
  margin: 0 auto; /*Centrerer elementet på siden*/
  line-height: 2em;
}

/*------------Andre style elementer--------------*/

.visually-hidden{ /*WCAG defineret class som fjerner element fra skærm, men som stadig kan læses af skærmlæseren*/
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.kontaktikoner{
    display: flex;
    justify-content: center;
    gap: 4em;
    padding-bottom: 3em;
    padding-top: 2em;
}

.email{
    width: 100px;
}

.telefon{
    width: 100px;
}

.kontaktinformation{
    font-family: 'League Spartan';
    line-height: 1.8em;
    text-align: center;
    padding-bottom: 1.8em;
}



/*--------------------------------------------------Responsivitet-----------------------------------------*/


/*-------------------------Desktop--------------------------*/

@media screen and (min-width: 769px){
    #bars{
        display: none;
    }

    header nav{
        display: flex;
        justify-content: flex-end;
    }

    nav ul{
        display: flex;
        justify-content: center;
        gap: 5%;
        margin-right: 1.5em;
    }

    section:nth-of-type(1){
        display: flex;
        gap: 2em;
        padding-top: 2em;
        padding-bottom: 2em;
    }

    section:nth-of-type(1) p{
        width: 25%;
    }

    section:nth-of-type(1) img{
        width: 75%;
    }

     section:nth-of-type(2){
        display: flex;
        gap: 2em;
        padding-top: 2em;
        padding-bottom: 2em;
    }

    section:nth-of-type(2) p{
        width: 25%;
    }

    section:nth-of-type(2) img{
        width: 75%;
    }

    .container{
        display: flex;
        align-items: flex-start;
    
    }

    .tekst{
        width: 40%;
    }
    
    .billede{
        width: 80%;
    }

    .billede img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }

}